.login-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-card mat-card-header {
  padding: 16px;
}

.login-form-card mat-card-content {
  display: flex;
  flex-direction: column;
}

.login-form-card mat-card-actions {
  justify-content: flex-end;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
